<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="/assets/css/login.css" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css" />

  <body class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>Registro</b> horarios</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Login</p>

          <form action="../../index2.html" method="post">
            <div class="input-group mb-3">
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                name="email"
              />
              <div class="input-group-append">
                <span class="fa fa-envelope input-group-text"></span>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Contraseña"
                name="contrasenia"
              />
              <div class="input-group-append">
                <span class="fa fa-lock input-group-text"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="checkbox icheck">
                  <label class="">
                    <input type="checkbox" name="recordarme" id="" />
                    Recordarme!
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button
                  type="submit"
                  class="btn btn-primary btn-block btn-flat btn-login"
                >
                  Ingresar
                </button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          
          <!-- /.social-auth-links -->

          <p class="mb-1">
            <a href="#">Olvide mi contraseña</a>
          </p>
          
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </body>
  <script src="/assets/jquery/dist/jquery.min.js"></script>
  <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/dist/js/adminlte.min.js"></script>
</html>
