.content-wrapper{
    background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container-fluid{
    background: white;
    border-radius: 1.3rem;
    /* border-top: 5px solid blue; */
    border: 1px solid gray;
    border-top: 5px solid #3c8dbc;
    box-shadow: 3px 5px 6px 0px #676767;
}

.modal-backdrop.fade.in{
    display: none !important;
}
.btn-secondary{
    background: rgb(199, 199, 199);
    color:white;
    font-weight: bold;
    transition: all .2s;
}
.modal-dialog.modal-dialog-centered{
    top: 20% !important;
}

.btn-danger{
    background: rgb(245, 245, 245);
    color:red;
    border:2px solid red;
    border-radius: .3rem;
    font-weight: bold;
    transition: all .2s;
}

.btn-danger:hover{
    background: rgb(255, 0, 0);
    color:rgb(255, 255, 255);
    border:2px solid rgb(255, 255, 255);
    border-radius: .3rem;
}